body {
  background-image: url("../assets/a95402f152dff78374634e0ecb2d423b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
