.dashboard-navbar {
    background-image: linear-gradient(rgb(156, 203, 231), rgb(121, 145, 240));
    color: white;
    display:flex;
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 1%;
  }

  
  .click {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
  }
 
  
  .click:hover {
    opacity: 0.5;
    cursor: pointer;
    font-size: larger;
    color: rgb(9, 9, 9);
  }
  
  .icon {
    position: relative;
    top: 2px;
  }
  
  .settings-icon {
    top: 5px;
  }
  
  .find-icon {
    top: 4px;
  }
  
  .resources-icon {
    top: 4px;
  }
  
  .navbar-table {
    margin-top: 40px;
  }
  